
/* Roboto Mono Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.chat-box {
    height: 100%;
}

#message-form {
    position: fixed;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 10px;
    padding-top: 10px;

    height: 60px;
    width: 100%;
}

#message-input {
    width: 82%;
}

#message-send-btn {
    margin-left: 10px;
    width: 18%;
}

#message-box {
    height: calc(100% - 60px - 60px);
    padding-top: 10px;
    overflow-y: scroll;
    line-break: anywhere;
}

#message-form {
    position: absolute;
    bottom: 0;
    height: 60px;
}

.message {
    font-family: 'Roboto Mono', monospace;
    padding-left: 10px;
    margin-bottom: 0.5rem;
}

.message-info {
    color: grey;
}

.typing-clients {
    font-family: 'Roboto Mono', monospace;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 20px;
    background-color: rgb(224, 224, 224);
    color: rgb(139, 139, 139);
    position: absolute;
    bottom: 56px;
    padding-left: 10px;
    padding-bottom: 8px;
}