
.Navbar {
    height: 60px;
}

@media only screen and (max-width: 430px) {
    .navbar-brand {
        display: none !important;
    }
}

#navbar-username {
    font-size: 18px;
    color: black;

    margin-bottom: 0px;

    padding-top: 5px;
    padding-right: 10px;
}

#users-navbar-btn {
    margin-right: 10px;
}

#rooms-btn {
    margin-right: 10px;
}